@media (min-width: 768px) {
	body {
		background: url(../img/holiday-2012.jpg) no-repeat center 182px white;	
	}
	#primary {
		background-color: transparent;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		height: 1120px;
	}
	#arrow-mark, h1, #secondary, #footerBG { display: none; }
	iframe {
		position: absolute;
		top: 233px;
		left: 171px;
	}
}

@media (min-width: 768px) and (max-width: 979px) { 
	iframe {
		position: absolute;
		top: 233px;
		left: 42px;
	}
}